/* You can add global styles to this file, and also import other style files */
body {
  background-color: #141414;
  color: #fff;
}

.container {
  margin: 1rem;
  padding: 1rem;

  border-bottom: 3px solid lightgray;
}

input[type="text"] {
  background-color: #151515;
  color: #fff;

  margin-top: 0.5rem;
  margin-bottom: 1rem;
  padding: 1rem;
  border: none;
  text-align: center;
}

.text-success {
  color: green;
  font-weight: bold;
}

.text-danger {
  color: red;
  font-weight: lighter;
}
